<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GenClassFromDB_CSharp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GenClassFromDB_CSharp.Properties.Settings>
            <setting name="ConnectionStr" serializeAs="String">
                <value>Provider=SQLOLEDB.1;Persist security info=False;Initial Catalog=weblicense;Data Source=DEVSERVER;user id=sa;Password='9t;yogm8';</value>
            </setting>
        </GenClassFromDB_CSharp.Properties.Settings>
    </userSettings>
</configuration>